
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA; 
    padding: 20px 0;
  }
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between ;
  }
  .menu-container {
    /* ... */
    display: flex;
    justify-content: center;
  }
  
  .links {
    border: 1px solid #fff;  
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

.header-harder{
    display: flex;
    padding: 10px 10px;
    background-color: #4da2a2;
}

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }




  .photo-grid-container {
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  
  .photo-grid-container .carousel_item,
  .photo-grid-container  .carousel_item--hidden {
      display: none;
  }



  .photo-grid-container .carousel_item--visible{
    display: block;
    animation: fadeVisibility 0.5s;
}

.photo-grid-container .carousel_item img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.photo-grid-container .btn{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
button:hover{
    background: orange;
}
button:active{
    background: orange;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.photo-grid-container .btn #nextBtn,
.photo-grid-container .btn #prevBtn{
    border-radius: 12px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

  #nextBtn {
      margin-left: 20px;
  }
  #prevBtn {
    margin-right: 20px;
}
  
 



  


  .social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}